<h1>ジャンル編集</h1>
<%= form_with model:@genre, method: :patch do |f| %>
<label for="genre">ジャンル名</label>
 <input class="form-control genre" <%= f.text_field :name %>
 <input  class="btn btn-success" <%= f.submit '変更を保存' %>